In [49]:
import pandas as pd
import numpy as np
import os

In [50]:
curr_dir = os.getcwd()
df = pd.read_csv(curr_dir + "/CRCP_Carbonate_Chemistry_Atlantic_5f28_f852_5735.csv")

dropped_columns = ["Region", "Mission", "Location", "Survey_design", "Sample_frequency", "accession_url", "SiteID", "UTCDate", "UTCTime", "Date_UTC", "CTDID", "Sample_Depth_m", "Pressure_db"]

df["Year"] = df["Year"].fillna(-1).astype(int)
df["pH_measured"] = df["pH_measured"].fillna(7.000).astype(float)
df["pH_calculated"] = df["pH_calculated"].fillna(7.000).astype(float)

df.rename(columns={"DIC_UMOL_KG": "Dissolved_Inorganic_Carbon_MICRO_MOL_KG", "TALK_UMOL_KG": "Total_Alkalinity_MICRO_MOL_KG", "Aragonite_Sat": "Aragonite_Saturation_State"}, inplace=True)

pd.set_option('display.max_columns', None)

df = df.drop(columns=dropped_columns, axis=1)

df

,time,latitude,longitude,Year,Dissolved_Inorganic_Carbon_MICRO_MOL_KG,Total_Alkalinity_MICRO_MOL_KG,pH_measured,pH_calculated,pCO2,Aragonite_Saturation_State,Salinity_Bottle,Temperature_C
0,UTC,degrees_north,degrees_east,-1,micromol/kg,micromol/kg,7.000000,7.000000,microatmospheres,NaN,psu,degrees_Celsius
1,2010-03-08T12:26:00Z,25.64633333,-80.12433333,2010,2072.52,2424.23,7.000000,8.160595,302.1109858,3.826466,36.494,20.43233
2,2010-03-08T13:05:00Z,25.64561667,-80.08246667,2010,2068.17,2418.43,7.000000,8.141448,317.2794283,3.830709,36.515,21.57933
3,2010-03-08T17:17:00Z,25.10675,-80.38116667,2010,2187.09,2558.48,7.000000,8.191662,293.2718374,4.067530,36.662,18.839
4,2010-03-08T17:42:00Z,25.09333333,-80.3545,2010,2112.23,2446.23,7.000000,8.152204,313.3067361,3.622783,36.6815,18.8245
...,...,...,...,...,...,...,...,...,...,...,...,...
5012,2022-12-18T15:25:00Z,24.89826667,-80.61738333,2022,2183.623384,2414.600217,7.929567,7.891887,635.0102365,2.733433,35.77330835,25.3
5013,2022-12-18T15:37:00Z,24.89818333,-80.61606667,2022,2176.905133,2416.217059,7.943719,7.905664,611.9943583,2.818196,35.79916729,25.4
5014,2022-12-18T15:41:00Z,24.89663333,-80.6153,2022,2193.373893,2415.476582,7.892316,7.872761,668.7069445,2.646941,35.8109598,25.4
5015,2022-12-18T15:47:00Z,24.89558333,-80.61663333,2022,2176.055591,2417.079872,8.015822,7.908476,607.4540553,2.834945,35.82275223,25.4
5016,2022-12-18T15:53:00Z,24.89646667,-80.6182,2022,2177.047485,2418.229963,8.010939,7.909209,606.757676,2.838739,35.77296144,25.4