{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "initial_id",
   "metadata": {
    "collapsed": true
   },
   "outputs": [],
   "source": [
    ""
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(
    "global_bleaching_environmental.csv",
    na_values=["nd", "ND", "Nd"],
    low_memory=False
)
print(df.head())

   Site_ID  Sample_ID Data_Source  Latitude_Degrees  Longitude_Degrees  \
0     1290   10323387      Donner           27.2616           -78.3844
1     1325   10323396      Donner           27.2649           -78.4000
2     1228   10323329      Donner           26.5775           -76.9590
3     1255   10323352      Donner           26.5403           -76.9462
4     1257   10323354      Donner           26.5973           -76.9764

  Ocean_Name Reef_ID         Realm_Name            Ecoregion_Name  \
0   Atlantic     NaN  Tropical Atlantic  Bahamas and Florida Keys
1   Atlantic     NaN  Tropical Atlantic  Bahamas and Florida Keys
2   Atlantic     NaN  Tropical Atlantic  Bahamas and Florida Keys
3   Atlantic     NaN  Tropical Atlantic  Bahamas and Florida Keys
4   Atlantic     NaN  Tropical Atlantic  Bahamas and Florida Keys

  Country_Name  ... TSA_FrequencyMax TSA_FrequencyMean TSA_DHW  \
0      Bahamas  ...              3.0               0.0    1.57
1      Bahamas  ...              3.0               0.0    1.57
2      Bahamas  ...              2.0               0.0    0.00
3      Bahamas  ...              4.0               0.0    0.00
4      Bahamas  ...              2.0               0.0    0.00

   TSA_DHW_Standard_Deviation TSA_DHWMax  TSA_DHWMean       Date  \
0                        0.45       3.23         0.11  8/15/1998
1                        0.45       3.23         0.11  9/15/1998
2                        0.39       2.52         0.10  8/15/1999
3                        0.49       5.36         0.10  8/15/1999
4                        0.39       2.52         0.10  8/15/1999

                                       Site_Comments  \
0                                   60% (GCRMN 2000)
1  great amount of coral that was bleached white;...
2                                                NaN
3                                                NaN
4                                                NaN

                                     Sample_Comments  \
0                                   60% (GCRMN 2000)
1  great amount of coral that was bleached white;...
2                                                NaN
3                                                NaN
4                                                NaN

                                  Bleaching_Comments
0  Bleaching percent averaged from code: Severe (...
1  Bleaching percent averaged from code: Severe (...
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 62 columns]

In [5]:
df.iloc[:, 13] = pd.to_numeric(df.iloc[:, 13], errors="coerce")
df.iloc[:, 15] = pd.to_numeric(df.iloc[:, 15], errors="coerce")

In [6]:
df

,Site_ID,Sample_ID,Data_Source,Latitude_Degrees,Longitude_Degrees,Ocean_Name,Reef_ID,Realm_Name,Ecoregion_Name,Country_Name,...,TSA_FrequencyMax,TSA_FrequencyMean,TSA_DHW,TSA_DHW_Standard_Deviation,TSA_DHWMax,TSA_DHWMean,Date,Site_Comments,Sample_Comments,Bleaching_Comments
0,1290,10323387,Donner,27.2616,-78.3844,Atlantic,NaN,Tropical Atlantic,Bahamas and Florida Keys,Bahamas,...,3.0,0.0,1.57,0.45,3.23,0.11,8/15/1998,60% (GCRMN 2000),60% (GCRMN 2000),Bleaching percent averaged from code: Severe (...
1,1325,10323396,Donner,27.2649,-78.4000,Atlantic,NaN,Tropical Atlantic,Bahamas and Florida Keys,Bahamas,...,3.0,0.0,1.57,0.45,3.23,0.11,9/15/1998,great amount of coral that was bleached white;...,great amount of coral that was bleached white;...,Bleaching percent averaged from code: Severe (...
2,1228,10323329,Donner,26.5775,-76.9590,Atlantic,NaN,Tropical Atlantic,Bahamas and Florida Keys,Bahamas,...,2.0,0.0,0.00,0.39,2.52,0.10,8/15/1999,NaN,NaN,NaN
3,1255,10323352,Donner,26.5403,-76.9462,Atlantic,NaN,Tropical Atlantic,Bahamas and Florida Keys,Bahamas,...,4.0,0.0,0.00,0.49,5.36,0.10,8/15/1999,NaN,NaN,NaN
4,1257,10323354,Donner,26.5973,-76.9764,Atlantic,NaN,Tropical Atlantic,Bahamas and Florida Keys,Bahamas,...,2.0,0.0,0.00,0.39,2.52,0.10,8/15/1999,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41356,9881,10290621,McClanahan,-6.2848,39.1764,Indian,NaN,Western Indo-Pacific,Kenya and Tanzania coast,Tanzania,...,8.0,2.0,6.96,1.53,10.82,0.67,4/30/2016,NaN,Nyawira,NaN
41357,9881,10290622,McClanahan,-6.2848,39.1764,Indian,NaN,Western Indo-Pacific,Kenya and Tanzania coast,Tanzania,...,8.0,2.0,6.96,1.53,10.82,0.67,4/30/2016,NaN,C. Muhando,NaN
41358,9882,10290624,McClanahan,-6.2772,39.1744,Indian,NaN,Western Indo-Pacific,Kenya and Tanzania coast,Tanzania,...,8.0,2.0,6.96,1.53,10.82,0.67,4/30/2016,NaN,Ussi,NaN
41359,9883,10290629,McClanahan,-6.1562,39.1223,Indian,NaN,Western Indo-Pacific,Kenya and Tanzania coast,Tanzania,...,9.0,2.0,7.84,1.67,10.00,0.72,4/29/2016,NaN,Nyawira,NaN
41360,9884,10290632,McClanahan,-6.1511,39.1266,Indian,NaN,Western Indo-Pacific,Kenya and Tanzania coast,Tanzania,...,9.0,2.0,7.84,1.67,10.00,0.72,4/29/2016,NaN,Nyawira,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41361 entries, 0 to 41360
Data columns (total 62 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Site_ID                                41361 non-null  int64
 1   Sample_ID                              41361 non-null  int64
 2   Data_Source                            41361 non-null  object
 3   Latitude_Degrees                       41361 non-null  float64
 4   Longitude_Degrees                      41361 non-null  float64
 5   Ocean_Name                             41361 non-null  object
 6   Reef_ID                                28821 non-null  object
 7   Realm_Name                             41361 non-null  object
 8   Ecoregion_Name                         41358 non-null  object
 9   Country_Name                           41360 non-null  object
 10  State_Island_Province_Name             41262 non-null  object
 11  City_Town_Name                         40228 non-null  object
 12  Site_Name                              6932 non-null   object
 13  Distance_to_Shore                      41359 non-null  float64
 14  Exposure                               41361 non-null  object
 15  Turbidity                              41355 non-null  float64
 16  Cyclone_Frequency                      41361 non-null  float64
 17  Date_Day                               41361 non-null  int64
 18  Date_Month                             41361 non-null  int64
 19  Date_Year                              41361 non-null  int64
 20  Depth_m                                39562 non-null  float64
 21  Substrate_Name                         28693 non-null  object
 22  Percent_Cover                          28906 non-null  float64
 23  Bleaching_Level                        22531 non-null  object
 24  Percent_Bleaching                      34515 non-null  float64
 25  ClimSST                                41248 non-null  float64
 26  Temperature_Kelvin                     41213 non-null  float64
 27  Temperature_Mean                       41229 non-null  float64
 28  Temperature_Minimum                    41229 non-null  float64
 29  Temperature_Maximum                    41229 non-null  float64
 30  Temperature_Kelvin_Standard_Deviation  41229 non-null  float64
 31  Windspeed                              41232 non-null  float64
 32  SSTA                                   41213 non-null  float64
 33  SSTA_Standard_Deviation                41229 non-null  float64
 34  SSTA_Mean                              41229 non-null  float64
 35  SSTA_Minimum                           41185 non-null  float64
 36  SSTA_Maximum                           41229 non-null  float64
 37  SSTA_Frequency                         41213 non-null  float64
 38  SSTA_Frequency_Standard_Deviation      41229 non-null  float64
 39  SSTA_FrequencyMax                      41229 non-null  float64
 40  SSTA_FrequencyMean                     41229 non-null  float64
 41  SSTA_DHW                               41213 non-null  float64
 42  SSTA_DHW_Standard_Deviation            41229 non-null  float64
 43  SSTA_DHWMax                            41229 non-null  float64
 44  SSTA_DHWMean                           41229 non-null  float64
 45  TSA                                    41213 non-null  float64
 46  TSA_Standard_Deviation                 41229 non-null  float64
 47  TSA_Minimum                            41229 non-null  float64
 48  TSA_Maximum                            41229 non-null  float64
 49  TSA_Mean                               41229 non-null  float64
 50  TSA_Frequency                          41213 non-null  float64
 51  TSA_Frequency_Standard_Deviation       41229 non-null  float64
 52  TSA_FrequencyMax                       41229 non-null  float64
 53  TSA_FrequencyMean                      41229 non-null  float64
 54  TSA_DHW                                41213 non-null  float64
 55  TSA_DHW_Standard_Deviation             41229 non-null  float64
 56  TSA_DHWMax                             41229 non-null  float64
 57  TSA_DHWMean                            41229 non-null  float64
 58  Date                                   41361 non-null  object
 59  Site_Comments                          2257 non-null   object
 60  Sample_Comments                        2958 non-null   object
 61  Bleaching_Comments                     2669 non-null   object
dtypes: float64(41), int64(5), object(16)
memory usage: 19.6+ MB

In [11]:
sorted(df['Country_Name'].dropna().unique())

['Anguilla',
 'Antigua and Barbuda',
 'Australia',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belize',
 'Bermuda',
 'Brazil',
 'Brunei',
 'Cambodia',
 'Cayman Islands',
 'Chile',
 'China',
 'Colombia',
 'Commonwealth of the Northern Mariana Islands',
 'Comoro Islands',
 'Cook Islands',
 'Costa Rica',
 'Cuba',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Timor',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Federated States of Micronesia',
 'Fiji',
 'France',
 'French Polynesia',
 'Grenada',
 'Guatemala',
 'Haiti',
 'Honduras',
 'India',
 'Indonesia',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Madagascar',
 'Malaysia',
 'Maldives',
 'Marshall Islands',
 'Martinique',
 'Mauritius',
 'Mexico',
 'Montserrat',
 'Mozambique',
 'Myanmar',
 'Netherlands Antilles',
 'New Caledonia',
 'Nicaragua',
 'Oman',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Philippines',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome & Principe',
 'Saudi Arabia',
 'Seychelles',
 'Singapore',
 'Solomon Islands',
 'South Africa',
 'Sri Lanka',
 'Sudan',
 'Taiwan',
 'Tanzania',
 'Thailand',
 'Tonga',
 'Trinidad and Tobago',
 'Turks and Caicos',
 'Tuvalu',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen']