In [31]:
import pandas as pd
import numpy as np
import os

In [32]:
curr_dir = os.getcwd()

df = pd.read_csv(curr_dir + '/CRCP_CAU_Calcification_Rate_CCA_Atlantic_efa9_a588_be73.csv')

pd.set_option('display.max_columns', None)

dropped_columns = ['REGION', 'REGION_NAME', 'LOCATION', 'LOCATIONCODE', 'REA_SITEID', 'OCC_SITEID', 'DATASTATUSID', 'accession_url', "CAU_UNIT", "DAYS_IN_WATER", "DEPLOYMENT_MISSION", "SERIALNUMBER", 'RECOVERY_MISSION']

df['DEPLOYMENT_YEAR'] = df['DEPLOYMENT_YEAR'].fillna(-1).astype(int)
df['RECOVERY_YEAR'] = df['RECOVERY_YEAR'].fillna(-1).astype(int)

df = df.drop(columns=dropped_columns, axis=1)

df

,time,latitude,longitude,CALCIFICATION_RATE_BY_UNIT,YEARS_IN_WATER,DEPLOYMENT_DATE,DEPLOYMENT_YEAR,RECOVERY_DATE,RECOVERY_YEAR
0,UTC,degrees_north,degrees_east,g/cm/yr,years,UTC,-1,UTC,-1
1,2014-03-15T00:00:00Z,24.89748,-80.61796,0.016,3.04,2014-03-15T00:00:00Z,2014,2017-03-29T00:00:00Z,2017
2,2014-03-15T00:00:00Z,24.89748,-80.61796,0.051,3.04,2014-03-15T00:00:00Z,2014,2017-03-29T00:00:00Z,2017
3,2014-03-15T00:00:00Z,24.89748,-80.61796,0.074,3.04,2014-03-15T00:00:00Z,2014,2017-03-29T00:00:00Z,2017
4,2014-06-30T00:00:00Z,18.34402,-64.98453,0.051,3.13,2014-06-30T00:00:00Z,2014,2017-08-15T00:00:00Z,2017
5,2014-06-30T00:00:00Z,18.34402,-64.98453,0.073,3.13,2014-06-30T00:00:00Z,2014,2017-08-15T00:00:00Z,2017
6,2014-06-30T00:00:00Z,18.34402,-64.98453,0.098,3.13,2014-06-30T00:00:00Z,2014,2017-08-15T00:00:00Z,2017
7,2014-06-30T00:00:00Z,18.34402,-64.98453,0.056,3.13,2014-06-30T00:00:00Z,2014,2017-08-15T00:00:00Z,2017
8,2014-06-30T00:00:00Z,18.34402,-64.98453,0.092,3.13,2014-06-30T00:00:00Z,2014,2017-08-15T00:00:00Z,2017
9,2015-07-21T00:00:00Z,24.61131,-82.8705,0.089,2.98,2015-07-21T00:00:00Z,2015,2018-07-11T00:00:00Z,2018
10,2015-07-21T00:00:00Z,24.61131,-82.8705,0.138,2.98,2015-07-21T00:00:00Z,2015,2018-07-11T00:00:00Z,2018
11,2015-07-21T00:00:00Z,24.61131,-82.8705,0.065,2.98,2015-07-21T00:00:00Z,2015,2018-07-11T00:00:00Z,2018
12,2015-07-21T00:00:00Z,24.61131,-82.8705,0.081,2.98,2015-07-21T00:00:00Z,2015,2018-07-11T00:00:00Z,2018
13,2015-07-21T00:00:00Z,24.61131,-82.8705,0.096,2.98,2015-07-21T00:00:00Z,2015,2018-07-11T00:00:00Z,2018
14,2014-05-25T00:00:00Z,17.78532,-64.75953,0.06,3.95,2014-05-25T00:00:00Z,2014,2018-05-06T00:00:00Z,2018
15,2014-05-25T00:00:00Z,17.78532,-64.75953,0.077,3.95,2014-05-25T00:00:00Z,2014,2018-05-06T00:00:00Z,2018
16,2014-05-25T00:00:00Z,17.78532,-64.75953,0.045,3.95,2014-05-25T00:00:00Z,2014,2018-05-06T00:00:00Z,2018
17,2014-05-25T00:00:00Z,17.78532,-64.75953,0.058,3.95,2014-05-25T00:00:00Z,2014,2018-05-06T00:00:00Z,2018
18,2014-05-25T00:00:00Z,17.78532,-64.75953,0.057,3.95,2014-05-25T00:00:00Z,2014,2018-05-06T00:00:00Z,2018
19,2015-09-09T00:00:00Z,17.82805,-64.46711,0.038,4.0,2015-09-09T00:00:00Z,2015,2019-09-09T00:00:00Z,2019
20,2015-09-09T00:00:00Z,17.82805,-64.46711,0.036,4.0,2015-09-09T00:00:00Z,2015,2019-09-09T00:00:00Z,2019
21,2015-09-09T00:00:00Z,17.82805,-64.46711,0.034,4.0,2015-09-09T00:00:00Z,2015,2019-09-09T00:00:00Z,2019
22,2015-09-10T00:00:00Z,17.70121,-64.64793,0.041,4.0,2015-09-10T00:00:00Z,2015,2019-09-10T00:00:00Z,2019
23,2015-09-10T00:00:00Z,17.70121,-64.64793,0.047,4.0,2015-09-10T00:00:00Z,2015,2019-09-10T00:00:00Z,2019
24,2015-09-10T00:00:00Z,17.70121,-64.64793,0.044,4.0,2015-09-10T00:00:00Z,2015,2019-09-10T00:00:00Z,2019
25,2015-09-12T00:00:00Z,17.7338,-64.89639,0.03,4.0,2015-09-12T00:00:00Z,2015,2019-09-12T00:00:00Z,2019
26,2015-09-12T00:00:00Z,17.7338,-64.89639,0.033,4.0,2015-09-12T00:00:00Z,2015,2019-09-12T00:00:00Z,2019
27,2015-09-12T00:00:00Z,17.7338,-64.89639,0.023,4.0,2015-09-12T00:00:00Z,2015,2019-09-12T00:00:00Z,2019
28,2015-09-12T00:00:00Z,17.7338,-64.89639,0.022,4.0,2015-09-12T00:00:00Z,2015,2019-09-12T00:00:00Z,2019
29,2015-09-12T00:00:00Z,17.7338,-64.89639,0.029,4.0,2015-09-12T00:00:00Z,2015,2019-09-12T00:00:00Z,2019
30,2015-09-11T00:00:00Z,17.78532,-64.75953,0.027,4.0,2015-09-11T00:00:00Z,2015,2019-09-11T00:00:00Z,2019
31,2015-09-11T00:00:00Z,17.78532,-64.75953,0.029,4.0,2015-09-11T00:00:00Z,2015,2019-09-11T00:00:00Z,2019
32,2015-09-11T00:00:00Z,17.78532,-64.75953,0.034,4.0,2015-09-11T00:00:00Z,2015,2019-09-11T00:00:00Z,2019
33,2015-09-11T00:00:00Z,17.78532,-64.75953,0.027,4.0,2015-09-11T00:00:00Z,2015,2019-09-11T00:00:00Z,2019
34,2015-09-11T00:00:00Z,17.78532,-64.75953,0.04,4.0,2015-09-11T00:00:00Z,2015,2019-09-11T00:00:00Z,2019