In [2]:
import pandas as pd

In [3]:
# Define the filter criteria
target_year = 2000
chunk_size = 50000  # Adjust based on your available memory

# Create an empty list to store filtered chunks
filtered_chunks = []

cols_to_keep = ['SID', 'SEASON', 'NAME', 'ISO_TIME', 'LAT', 'LON', 'WMO_WIND', 'WMO_PRES', 'USA_WIND', 'USA_PRES', 'USA_SSHS', 'STORM_SPEED', 'STORM_DIR', 'DIST2LAND', 'LANDFALL', 'TRACK_TYPE']

# Read and filter in one pass using chunks
for chunk in pd.read_csv(
        "../../data/raw_large/climateDataibtrac.csv",
    na_values=["nd", "ND", "Nd"],
    low_memory=False,
    chunksize=chunk_size,
    usecols=cols_to_keep
):
    # Convert SEASON to numeric within the chunk
    chunk['SEASON'] = pd.to_numeric(chunk['SEASON'], errors='coerce')

    # Filter the chunk
    filtered_chunk = chunk[chunk['SEASON'] >= target_year]

    # Append the result
    filtered_chunks.append(filtered_chunk)

# Combine filtered chunks into a single DataFrame
df = pd.concat(filtered_chunks, ignore_index=True)

df

/var/folders/25/4sydytjj5kx7w08vfts5w61r0000gn/T/ipykernel_24360/3775583529.py:28: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(filtered_chunks, ignore_index=True)

,SID,SEASON,NAME,ISO_TIME,LAT,LON,WMO_WIND,WMO_PRES,TRACK_TYPE,DIST2LAND,LANDFALL,USA_WIND,USA_PRES,USA_SSHS,STORM_SPEED,STORM_DIR
0,1999343S09095,2000.0,ILSA,1999-12-08 22:00:00,-9.0,95.0,25,1002,main,924,914,,,-5,5,95
1,1999343S09095,2000.0,ILSA,1999-12-09 00:00:00,-9.0,95.2,25,1002,main,914,904,,,-5,5,95
2,1999343S09095,2000.0,ILSA,1999-12-09 03:00:00,-9.0,95.5,,,main,899,899,,,-5,5,95
3,1999343S09095,2000.0,ILSA,1999-12-09 06:00:00,-9.1,95.7,25,1002,main,900,887,,,-5,5,95
4,1999343S09095,2000.0,ILSA,1999-12-09 09:00:00,-9.1,96.0,,,main,887,874,,,-5,5,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162406,2026015N10130,2026.0,NOKAEN,2026-01-17 12:00:00,15.0,124.1,,,PROVISIONAL,111,81,51,993,0,4,80
162407,2026015N10130,2026.0,NOKAEN,2026-01-17 15:00:00,14.7,124.5,,,PROVISIONAL,81,70,48,995,0,11,130
162408,2026015N10130,2026.0,NOKAEN,2026-01-17 18:00:00,14.3,125.0,,,PROVISIONAL,78,78,45,997,0,8,125
162409,2026015N10130,2026.0,NOKAEN,2026-01-17 21:00:00,14.2,125.2,,,PROVISIONAL,92,92,42,998,0,2,65
162410,2026015N10130,2026.0,NOKAEN,2026-01-18 00:00:00,14.4,125.2,,,PROVISIONAL,102,,39,999,0,3,10

In [4]:
df.to_csv("../../data/processed/IBTrACS/filtered_cyclone.csv", index=False)